<h2>[[title]]</h2>
<h2>[[protocol]]</h2>
<p>[[description]]</p>
<p>[[day]]:&nbsp;<strong>#date#</strong></p>
<p>[[password]]:<br /><strong style="font-size: 25px;">#password#</strong></p>
<table cellpadding="5">
<thead>
<tr>
<th style="margin: 1px; padding: 5px; font-size: 18px; line-height: 20px; min-width: 170px;"></th>
<th style="margin: 1px; padding: 5px; background-color: #00000008; font-size: 24px; font-weight: bold; line-height: 20px; min-width: 300px;">[[scheduled-people]]</th>
</tr>
</thead>
<tbody>
<tr>
<td style="margin: 1px; padding: 5px; background-color: #00000008; font-size: 18px; font-weight: bold; line-height: 20px;">[[your-name]]</td>
<td style="margin: 1px; padding: 5px;">#your-name#</td>
</tr>
<!-- cell < -->
<tr>
<td style="margin: 1px; padding: 5px; background-color: #00000008; font-size: 18px; font-weight: bold; line-height: 20px;">[[companion]] #num#</td>
<td style="margin: 1px; padding: 5px;">#companion#</td>
</tr>
<!-- cell > --></tbody>
</table>
<p>[[cancel-appointment]]: #url-cancellation#</p>