<div class="ui three column grid">
    <!-- cell < --><div class="column">
        <div class="ui center aligned green segment">
            <div class="ui small green header">
                <i class="certificate icon"></i>
                <div class="content nowrap">
                    [[title]]
                </div>
            </div>
            <div class="ui header nowrap">#title#</div>
            <p>#description#</p>
            <p>[[span_validity]]: <b>#validity#</b></p>
            <div class="ui huge header">#coupon#</div>
        </div>
    </div><!-- cell > -->
</div>