<table class="ui unstackable celled very compact table">
    <thead>
        <tr>
            <th>[[name]]</th>
            <th>[[password]]</th>
            <!-- th-companion < --><th>#th-companion#</th><!-- th-companion > -->
            <th>[[viewed]]</th>
        </tr>
    </thead>
    <tbody>
        <!-- cell < --><tr>
        <td>#nome#</td>
        <td>#senha#</td>
        <!-- td-companion < --><td>#td-companion#</td><!-- td-companion > -->
        <td> </td>
        </tr><!-- cell > -->
    </tbody>
</table>