.limit-max-width{
    max-width: 1440px;
}
.hidden{
	display:none;
}
.dateSelected{
	margin-bottom:.4rem;
}
.pageLoading {
	top: 0px !important;
	left: 0px !important;
	bottom: 0;
	right: 0;
	z-index: 99999999999999999999999999;
  }