.input-small-text {
    width: 150px;
}
.input-numbers {
    width: 60px;
}
.pageLoading {
    top: 0px !important;
    left: 0px !important;
    bottom: 0;
    right: 0;
      z-index: 99999999999999999999999999;
  }
.nowrap{
    white-space: nowrap;
}
@media print {
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}