.hidden{
	display:none;
}
.dateSelected{
	margin-bottom:.4rem;
}
.cupom{
  text-transform: uppercase;
}
.buttonsMargin > .button {
  margin-bottom: 0.75em;
}
.txt-1 {
  font-weight: bold;
}
.scheduleWindow{
  position: relative;
}
.pageLoading {
  top: 0px !important;
  left: 0px !important;
  bottom: 0;
  right: 0;
	z-index: 99999999999999999999999999;
}
.ui.calendar tr td {
  background-color: #FFF;
  border:none;
}
.ui.calendar tr th {
  border:none;
}