.hidden{
	display:none;
}
.dateSelected{
	margin-bottom:.4rem;
}
.cupom{
  text-transform: uppercase;
}
.buttonsMargin > .button {
  margin-bottom: 0.75em;
}
.txt-1 {
  font-weight: bold;
}
.scheduleWindow{
  position: relative;
}
.pageLoading {
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
}