.hidden{
	display:none;
}
.dateSelected{
	margin-bottom:.4rem;
}
.cupom{
  text-transform: uppercase;
}
.buttonsMargin > .button {
  margin-bottom: 0.75em;
}
.txt-1 {
  font-weight: bold;
}
.pageLoading{
  display: none;
}